* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(124, 229, 233);
}
.kick-pad.active {
  background: rgb(0, 247, 255);
}

.snare-pad {
  background: rgba(24, 223, 163, 0.452);
}
.snare-pad.active {
  background: rgb(24, 223, 163);
}

.hihat-pad {
  background: rgba(223, 20, 115, 0.616);
}
.hihat-pad.active {
  background: rgb(223, 20, 115);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.hihat,
.snare {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(38, 11, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5 ease;
}

.pad {
  transition: all 0.5 ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(206, 133, 38);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 0.75rem;
  font-size: 1rem;
  margin-left: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
